Part 1: A contract that deploys contracts, with create2
We will practice basic Factory pattern with create2, getting a taste of predetermined address

Project Requirement
write a smart contract that can withdraw any ERC20 tokens from it by its owner
write a factory contract that can deploy the above contract using Create2, you can use OpenZeppelin's Create2 library
note that we should be able to specify the address of the owner, and the owner address should be used to determine the address of the smart contract that will be deployed
On-chain actions (4 tx hashes to be recorded)
Deploy the factory on Zircuit
Send tokens to a pre-computed address
Deploy the smart contract to the pre-computed address
Withdraw the tokens
Note that action 3 must come after action 2. We will check the time.
To save time, no tests are required for this project.
